#contactMe {
  padding-top: 0;
  background-color: var(--bg-color-alt);
}

#contactMe .container {
  padding-top: 60px;
}

#contactForm input[type="submit"] {
  margin-left: auto;
}

.contactFormSection {
  margin-bottom: var(--s-12);
}

.knotch {
  display: block;
  margin:0 auto;
  margin-top: -8px;
  height: 60px;
  transform: scaleX(2);
}

@media screen and (min-width: 520px) {

  #contactMe .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .contactFormSection {
    width: 75%;
  }

  .knotch {
    transform: scaleX(4);
  }

}


@media screen and (min-width: 760px) {

  #contactMe .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .contactFormSection {
    width: 50%;
  }

  .contactImgSection {
    align-self: center;
    width: 50%;
  }
}
