
/**
 * Desktop Sizing:
 *
 * Title: 40
 * Title-Pre 24
 * Title-Post 30
 *
 * Header 40
 * subheader 20
 *
 * text 20
*/

:root {
  /**
   * Spacers
   * Assumes a root font size of 16px;
   *
   * https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale
   */

  --s-1:  0.25rem;  /* 4 px */
  --s-2:  0.5rem;   /* 8 px */
  --s-3:  0.75rem;  /* 12 px */
  --s-4:  1rem;     /* 16 px */
  --s-5:  1.25rem;  /* 20 px */
  --s-6:  1.5rem;   /* 24 px */
  --s-8:  2rem;     /* 32 px */
  --s-10: 2.5rem;   /* 40 px */
  --s-12: 3rem;     /* 48 px */
  --s-16: 4rem;     /* 64 px */
  --s-20: 5rem;     /* 80 px */
  --s-24: 6rem;     /* 96 px */
  --s-32: 8rem;     /* 128 px */
  --s-40: 10rem;    /* 160 px */
  --s-48: 12rem;    /* 192 px */
  --s-56: 14rem;    /* 224 px */
  --s-64: 16rem;    /* 256 px */

  /**
   * Font Size Definitions
   */
  --text-xs:    0.75rem;  /* 12 px */
  --text-sm:    0.875rem; /* 14 px */
  --text-base:  1rem;     /* 16 px */
  --text-lg:    1.125rem; /* 18 px */
  --text-xl:    1.25rem;  /* 20 px */
  --text-2xl:   1.5rem;   /* 24 px */
  --text-3xl:   1.875rem; /* 30 px */
  --text-4xl:   2.25rem;  /* 36 px */
  --text-5xl:   3rem;     /* 48 px */
  --text-6xl:   4rem;     /* 64 px */

  --text-header: 40px;
  --text-subheader: 20px;

  --text: 16px;

  --text-skill-cards: 20px;

  /**
   * Font Weight Definitions
   */

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold:   700;
  --font-black:  900;


  /**
   * Letter Spacing Definitions
   */

   --tracking-normal: 0;
   --tracking-wide:   0.025em;
   --tracking-wider:  0.05em;
   --tracking-widest: 0.1em;

  /**
   * Color Definitions
   */

  --drop-shadow: rgba(0,0,0,0.25);

  --primary-color: #F26B3C;
  --bg-color: #1F2233;
  --bg-color-alt: #24283D;
  --text-color: #FBF4E0;

  --social-color: #4E5683;
  --social-bg: #1F2233;

  --skills-bg: #404562;
  --skills-card-bg: #24283D;

  --button-bg: #393E56;
  --button-active-border: #FFF;
  --button-active-color: var(--primary-color);

  --featured-head: #FFF;
  --featured-bg: #383E61;

  --timeline-bg: #858399;
  --timeline-entry-bg: #24283D;
  --timeline-heading-color: #FFF;
  --timeline-heading-color-alt: var(--primary-color);
  --timeline-text-color: #CBBED9;
  --timeline-date-color: #80748C;

  --input-bg-color: #1F2233;
  --input-border-color: #2F344F;

  --contact-text: #FFF;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 130px;
}

section > p {
  padding-left: 15px;
  padding-right: 15px;
}

section > img {
  margin-top: 40px;
}

section h2:after {
  display: block;
  content: '';
  width: var(--s-20);
  height: 2px;
  margin-top: 4px;
  background-color: var(--primary-color);
}

section header {
  margin-bottom: var(--s-16);
}

h1, h2{
  font-size: var(--text-header);
  margin-top: 0;
}

p {
  font-size: var(--text);
}

.subtitle {
  font-size: var(--text-subheader);
  color: var(--primary-color);
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}


button,
[type="submit"],
[type="reset"],
[type="button"] {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  border: 1px solid transparent;
  font-weight: var(--font-medium);
  color: var(--text-color);
}

button.active,
button:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover {
  border-color: var(--button-active-border);
  color: var(--button-active-color);
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: var(--s-1);

  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-weight: var(--font-bold);
  font-size: var(--text-xs);
  color: var(--text-color)
}

input,
textarea {
  padding: var(--s-3) var(--s-2);

  color: var(--contact-text);
  background-color: var(--input-bg-color);
  border: 3px solid var(--input-border-color);
  border-radius: var(--s-2);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  height: var(--s-32);
}

input[type="button"],
input[type="submit"] {
  display: block;
  width: initial;
  padding: var(--s-4) var(--s-3);
}

.inputGroup {
  margin-bottom: var(--s-5);
}

.formError {
  margin-top: 6px;

  color: #663f28;
  background-color: #ecd9be;
  border-left: 5px solid #ffc646;
  border-radius: var(--s-1);
}

.formError p {
  margin: 0;
  padding: var(--s-3);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.hidden {
  /*
    !important was used very intentionally here.
    When applied to elements no matter their state or
    how they were selected throughout the remaining css
    they should disappear. We're intentionally breaking
    the cascade to get desired functionality.
  */
  display: none !important;
}

.socialMediaIcons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  font-size: 20px;
  list-style-type: none;
  padding: 0;
}

.socialMediaIcons a,
.socialMediaIcons a:visited {
  color: var(--social-bg);
}

.socialMediaIcons .far {
  color: var(--text-color);
}

.socialMediaIcons a:hover .fa-stack-1x{
  color: var(--primary-color);
}

.socialMediaIcons .fa-stack-1x{
  color: var(--social-color);
}

.socialMediaIcons a:hover .fa-stack-2x {
  color: #1F2233;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
}


#objective {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #44405C;
  color: #C4B8D1;

}

#objective p {
  font-weight: var(--font-light);
  font-size: var(--text-2xl);
  text-align: center;
}

@media screen and (min-width: 720px) {
  #objective {
    margin: 0 auto;
    max-width: 840px;
    border-radius: var(--s-2);
    margin-top: -79px;
  }

  #objective p {
    padding: 0 var(--s-12);
  }
}

footer {
  padding: var(--s-4) 0;
}

footer p {
  text-align-last: center;
}

footer a {
  color: var(--primary-color);
}
