/*
 * My usecase of images are as blocks. Makes the most
 * sense that I assume they're blocks until needed
 * otherwise.
 */

img {
  display: block;
  width: 100%;
}

section {
  padding-top: 100px;
  padding-bottom: 120px;
}

section > p {
  padding-left: 15px;
  padding-right: 15px;
}

section > img {
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden {
  display: none;
}

.mastHead {
  min-height: 100vh;
  padding-bottom: 15px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

/**
 * Header title block
 */

.titleBlock {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

.titleBlock p {
  margin-top: 0;
  margin-bottom: 5px;
}

.titleBlock h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.aboutMe img {
 margin-top: 50px;
 margin-bottom: 50px;
}

.socialMediaIcons {
  font-size: 20px;
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
