#mastHead {
  min-height: 100vh;
  padding-bottom: var(--s-4);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

#mastHead .large {
  display: none;
}

#mastHead img {
  max-width: 715px;
}

.titleBlock {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--s-8);
}

.titleBlock p {
  margin-top: 0;
  margin-bottom: var(--s-1);
}

.titleBlock h1 {
  margin-top: 0;
  margin-bottom: var(--s-2);

  font-size: var(--text-5xl);
  color: var(--primary-color);
}

.titleBlock p:first-of-type {
  font-size: var(--text-2xl);
}

.titleBlock p:last-of-type {
  font-size: var(--text-3xl);
}



@media screen and (min-width: 440px) {

  #mastHead {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  #mastHead .large {
    display: block;
  }

  #mastHead .mobile {
    display: none;
  }
}



@media screen and (min-width: 680px) {

  #mastHead {
    flex-flow: row nowrap;
  }


  #mastHead img {
    width: 55%;
  }

  /* .titleBlock {
    width: 45%;
  } */

}
