.skillCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: var(--s-2);

  margin: 0 auto;
  padding: var(--s-3);

  list-style-type: none;
  border-radius: var(--s-5);
  background-color: var(--skills-bg);
  box-shadow: inset 0px var(--s-1) var(--s-1) 0px var(--drop-shadow);
}


.skillCards > li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: var(--s-24);
  padding: var(--s-4) 0;

  border-radius: var(--s-2);
  background-color: var(--skills-card-bg);
  box-shadow: 0px var(--s-1) var(--s-1) 0px var(--drop-shadow);
}

.skillCards img {
  max-width: var(--s-16);
  margin: var(--s-2);
}

.skillCards p {
  margin: 0;
  padding: var(--s-4) 0;

  font-size: var(--text-base);
}

.skillButtonGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--s-3);
  margin-bottom: var(--s-4);
}

.skillButtonGroup > button {
  padding: var(--s-2) var(--s-3);

  font-weight: var(--font-medium);
  background-color: var(--button-bg);
  border-radius: var(--s-2);

  font-size: var(--text-xs);
}

.skillButtonGroup > button:hover {
  color: var(--primary-color);
  box-shadow: 0px var(--s-1) var(--s-1) 0px var(--drop-shadow);
}

@media screen and (min-width: 480px) {
  .skillButtonGroup {
    justify-content: flex-end;
  }

  .skillButtonGroup > button {
    font-size: var(--text-normal);

  }

  .skillCards {
    gap: var(--s-4);
  }

  .skillCards > li {
    width: var(--s-32);
  }

  .skillCards img {
    max-width: var(--s-20);
  }

  .skillCards p {
    font-size: var(--text-lg);
  }
}

@media screen and (min-width: 720px) {
  .skillCards > li {
    width: var(--s-40);
  }

  .skillCards img {
    max-width: var(--s-24);
  }

  .skillCards p {
    font-size: var(--text-xl);
  }
}
