.skillCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;

  margin: 0;
  padding: 15px;
  border-radius: 20px;
  list-style-type: none;
}

.skillCards > li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 120px;
  max-width: 180px;
  border-radius: 9px;
  text-align: center;
}

.skillCards img {
  padding: 20px; /* Desktop is 36px */
}

.skillCards p {
  margin: 0;
  padding-bottom: 15px;
}

.skillButtonGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.skillButtonGroup > button {

}


.skillCards {
  background-color: var(--skills-bg);
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.skillCards > li {
  background-color: var(--skills-card-bg);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
}

.skillButtonGroup > button {
  color: var(--text-color);
  background-color: var(--button-bg);
}

.skillCards p {
  font-size: var(--text-skill-cards);
}
