:root {
  --primary-color: #F26B3C;
  --bg-color: #1F2233;
  --bg-color-alt: #4E5683;
  --text-color: #FBF4E0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/**
 * Header title block
 */

.titleBlock h1 {
  color: var(--primary-color);
}
