:root {
  --primary-color: #F26B3C;
  --bg-color: #1F2233;
  --bg-color-alt: #24283D;
  --text-color: #FBF4E0;

  --social-color: #4E5683;
  --social-bg: #1F2233;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.subtitle {
  color: var(--primary-color);
}

/**
 * Header title block
 */

.titleBlock h1 {
  color: var(--primary-color);
}

.aboutMe {
  background-color: var(--bg-color-alt);
}

.socialMediaIcons a,
.socialMediaIcons a:visited {
  color: var(--social-bg);
}

.socialMediaIcons .far {
  color: var(--text-color);
}

.socialMediaIcons .fa-inverse {
  color: var(--social-color);
}

.socialMediaIcons a:hover .fa-inverse {
  color: var(--primary-color);
}
