:root {
  --primary-color: #F26B3C;
  --bg-color: #1F2233;
  --bg-color-alt: #24283D;
  --text-color: #FBF4E0;

  --social-color: #4E5683;
  --social-bg: #1F2233;

  --skills-bg: #404562;
  --skills-card-bg: #24283D;

  --button-bg: #393E56;
  --button-hover: var(--primary-color);

  --featured-head: #FFF;
  --featured-bg: #383E61;

  --timeline-bg: #858399;
  --timeline-entry-bg: #24283D;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.subtitle {
  color: var(--primary-color);
}

/**
 * Header title block
 */

.titleBlock h1 {
  color: var(--primary-color);
}

#aboutMe {
  background-color: var(--bg-color-alt);
}

#myWork {
  background-color: var(--bg-color-alt);
}

.socialMediaIcons a,
.socialMediaIcons a:visited {
  color: var(--social-bg);
}

.socialMediaIcons .far {
  color: var(--text-color);
}

.socialMediaIcons .fa-inverse {
  color: var(--social-color);
}

.socialMediaIcons a:hover .fa-inverse {
  color: var(--primary-color);
}

.skillCards {
  background-color: var(--skills-bg);
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.skillCards > li {
  background-color: var(--skills-card-bg);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
}

.skillButtonGroup > button {
  color: var(--text-color);
  background-color: var(--button-bg);
}

.featured h3 {
  color: var(--featured-head);
}

.featured .background {
  background-color: var(--featured-bg);
}

.timeline article {
  background-color: var(--timeline-entry-bg);
}

.timeline:before {
  background-color: var(--timeline-bg);
}


.timelineIcon {
  border-color: #70637E;
  background-color: var(--bg-color);
}

.timelineIcon i {
  color: #858399;
}
