/**
 * Desktop Sizing:
 *
 * Title: 40
 * Title-Pre 24
 * Title-Post 30
 *
 * Header 40
 * subheader 20
 *
 * text 20
*/

:root {
  --text-title-pre: 24px;
  --text-title: 40px;
  --text-title-post: 30px;

  --text-header: 40px;
  --text-subheader: 20px;

  --text: 16px;

  font-family: 'Roboto', sans-serif;
}


h1, h2{
  font-size: var(--text-header);
  margin-top: 0;
}

p {
  font-size: var(--text);
}

section {
  padding-top: 100px;
  padding-bottom: 130px;
}


.subtitle {
  font-size: var(--text-subheader);
  margin-bottom: 0;
}

/**
 * Header title block
 */

.titleBlock p:first-of-type {
  font-size: var(--text-title-pre);
}

.titleBlock h1 {
  font-size: var(--text-title);
}

.titleBlock p:last-of-type {
  font-size: var(--text-title-post);
}
